
  body {
    background-color: #adce74;
  }

  img {
    border-radius: 40%;
  }

  hr {
    background-color: grey;
    border-top-style: dotted;
    border-width: 6px;
    width: 15%;
  }
  h1 {
      color: #583d72;
  }
  h3{
      color: #d08752;
  }
